.header-cus{
    background-color:rgba(0, 255, 255, 0.726);
}
.header-cus h1{
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}
.header-cus h2{
    color:rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
}